<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style/common.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
</head>

<body class="mainbody">
<div class="onthispage">您当前所在位置&nbsp;&gt;&nbsp;<span>LookBook内容管理</span></div>
<div class="lmtitle">信息查询</div>
<div class="searchBox bm10">
  <form action="" method="get">
    查询类别：<select name="">
      <option value="1">文章标题</option>
      <option value="2">文章作者</option>
    </select>
    &nbsp;&nbsp;&nbsp;
    搜索内容：<input class="text" name="" type="text" />
    <input class="search" name="" type="submit" value="" />
  </form>
</div>
<div class="tablebox">
<h6>内容列表</h6>
<table class="dxtable" width="100%" border="0" cellspacing="0" cellpadding="0">
  <thead>
      <tr>
        <td width="35">选择</td>
        <td>标题</td>
        <td>发布时间</td>
        <td>所属分类</td>
        <td>点击量</td>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td class="center"><label>
      <input type="checkbox" name="CheckboxGroup1" value="复选框" id="CheckboxGroup1_0" /></label></td>
        <td><img src="../html/images/test/test9.jpg" height="80" /></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="center"><label>
      <input type="checkbox" name="CheckboxGroup1" value="复选框" id="CheckboxGroup1_0" /></label></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="center"><label>
      <input type="checkbox" name="CheckboxGroup1" value="复选框" id="CheckboxGroup1_0" /></label></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="center"><label>
      <input type="checkbox" name="CheckboxGroup1" value="复选框" id="CheckboxGroup1_0" /></label></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="center"><label>
      <input type="checkbox" name="CheckboxGroup1" value="复选框" id="CheckboxGroup1_0" /></label></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="center"><label>
      <input type="checkbox" name="CheckboxGroup1" value="复选框" id="CheckboxGroup1_0" /></label></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="center"><label>
      <input type="checkbox" name="CheckboxGroup1" value="复选框" id="CheckboxGroup1_0" /></label></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="center"><label>
      <input type="checkbox" name="CheckboxGroup1" value="复选框" id="CheckboxGroup1_0" /></label></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="center"><label>
      <input type="checkbox" name="CheckboxGroup1" value="复选框" id="CheckboxGroup1_0" /></label></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="center"><label>
      <input type="checkbox" name="CheckboxGroup1" value="复选框" id="CheckboxGroup1_0" /></label></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
  </tbody>
</table>
</div>
<div class="pagefenye">
	<div class="zys">共12页/第5页&nbsp;&nbsp;&nbsp;跳转至第<input name="" type="text" size="2" />
	  页<input type="submit" name="button" id="button" value="GO" />
	</div>
 <ul class="fenye">
     <li><a href="#">Pre</a></li><li><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#">6</a></li><li><a href="#">7</a></li><li><a href="#">8</a></li><li><a href="#">9</a></li><li><a href="#">Next</a></li>
    </ul>
</div>
</body>
</html>
