<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style/common.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
</head>

<body>
<div class="top">
  <h1>Urbanlook网站后台管理系统</h1>
  <ul class="topMenu">
    <li><a href="#">管理员密码修改</a></li><li><a href="#">退出后台</a></li>
  </ul>
</div>
<div class="content">
  <div class="pageleft">
    <ul class="navList">
      <li>
        <a href="#">News栏目管理</a>
        <ul>
          <li><a href="#">-&nbsp;&nbsp;添加新闻</a></li>
          <li><a href="#">-&nbsp;&nbsp;删除新闻</a></li>
        </ul>
      </li>
      <li>
        <a href="#">News栏目管理</a>
        <ul>
          <li><a href="#">-&nbsp;&nbsp;添加新闻</a></li>
          <li><a href="#">-&nbsp;&nbsp;删除新闻</a></li>
        </ul>
      </li>
      <li><a href="#">News栏目管理</a></li>
      <li><a href="#">News栏目管理</a></li>
      <li><a href="#">News栏目管理</a></li>
    </ul>
    <h2><a href="http://www.sinocontact.com">SinoContact</a></h2>
  </div>
  <div class="pageright">
    <div class="contentBox">
      <iframe id="iframeBox" src="main.html" name="leftbox" scrolling="auto" frameborder="0"></iframe>
    </div>
  </div>
  <div class="clear"></div>
</div>
</body>
<script language="javascript" type="text/javascript">
var intasas=self.setInterval("iframegeight()",50);
function iframegeight(){
	var ThePageHeight= $(window).height();
	$("#iframeBox").height(ThePageHeight - 130);
	$(".pageright .contentBox").height(ThePageHeight - 110);
}
</script>
</html>
