<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style/common.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
</head>

<body class="loginbody">
<div class="loginbodybox">
<div class="loginlogo">
</div>
<div class="loginformbox">
  <form action="" method="post">
  <ul>
    <li><input class="text" name="" type="text" /><input class="submit" name="" type="submit" value="" /></li>
    <li><input class="text" name="" type="text" /><input class="reset" name="" type="reset" value="" /></li>
  </ul>
  </form>
</div>
<div class="loginfooter">
&copy; CopyRight <a href="http://www.sinocontact.com" target="_blank">Sinocontact.com</a> 2010-2011 </div>
</div>
</body>
<script language="javascript" type="text/javascript">
var intasas=self.setInterval("loginhhh()",50);
function loginhhh(){
	$(".loginbodybox").css("padding-top",($(window).height()-$(".loginbodybox").height())/2 -100 + "px");
}
</script>
</html>
