<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style/common.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
</head>

<body class="mainbody">
<div class="onthispage">您当前所在位置&nbsp;&gt;&nbsp;<span>LookBook内容管理</span></div>
<div class="lmtitle">LookBookItem添加广告链接</div>
<div class="tablebox">
<h6>共12张图片/第1张图片(切换图片请点击底部图片分页链接)</h6>
<div class="futureimg">
<div class="futuremark"></div>
	<ul>

		<li>

			<div class="gobuy">

				

			</div>

			<img id="imageID" src="images/test/test10.jpg" onclick="clickWeizhi();" width="940" height="574" />

		</li>

	</ul>

</div>




<form id="saveForm" action="/admin/lookbook!addAdLink.do?id=12" method="post">
<div class="saveFormbox">
<div id="formDIV" class="lookbookform">
<ul>
	<input type="hidden" name="showX" id="showX" value="0"/>

	<input type="hidden" name="showY" id="showY" value="0"/>

	<li>商品名称：<input class="text" type="text" name="gName"/></li>

	<li>商品价格：<input class="text" type="text" name="price"/></li>

	<li>相应链接：<input class="text" type="text" name="areaUrl"/></li>

	<li>商品描述：<textarea name="des"></textarea></li>
</ul>
</div>
</div>
<div class="clear"></div>
<div><input type="submit" value="提交" /></div>
</form>
<div class="pagefenye">
	<div class="zys">共12张/第5张&nbsp;&nbsp;&nbsp;跳转至第<input name="" type="text" size="2" />
	  片<input type="submit" name="button" id="button" value="GO" />
	</div>
 <ul class="fenye">
     <li><a href="#">Pre</a></li><li><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#">6</a></li><li><a href="#">7</a></li><li><a href="#">8</a></li><li><a href="#">9</a></li><li><a href="#">Next</a></li>
    </ul>
</div>
</div>
</body>
</html>
