<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style/common.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
</head>

<body class="mainbody">
<div class="onthispage">您当前所在位置&nbsp;&gt;&nbsp;<span>News文章修改</span></div>
<div class="lmtitle">文章详细内容</div>
<div class="tablebox">
<form action="" method="post">
<h5>文章标题</h5>
<div class="nrkuang"><input class="text" name="" type="text" /></div>
<h5>列表缩略图</h5>
<div class="nrkuang">
  <ul class="imglist clearfix">
    <li><a class="del" href="#">删除</a><img src="images/test/test4.jpg" /></li>
  </ul>
</div>
<h5>详细大图</h5>
<div class="nrkuang">
  <ul class="imglist clearfix">
    <li><a class="del" href="#">删除</a><img src="images/test/test4.jpg" /></li><li><a class="del" href="#">删除</a><img src="images/test/test4.jpg" /></li><li><a class="del" href="#">删除</a><img src="images/test/test4.jpg" /></li>
  </ul>
</div>
<h5>详细内容</h5>
<div class="nrkuang">
  <textarea name="" cols="100" rows="10"></textarea>
</div>
</form>
</div>

</body>
</html>
